@media (max-width: 500px){
    .header-bar{
        overflow-y: hidden;
    }
    .group-search-bar{
        overflow-y: hidden;
    }
    .navbar-btn{
        overflow-y: hidden;
    }
}

.header-bar{
    position:relative;
    flex-wrap: nowrap;
    background-color: #545454;

    /* align-items: flex-start; */
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    -ms-flex-item-align: auto;
    top: 0;
    height: 60px;
    z-index: 2;
    display:flex;
    padding: 12px;
    border-bottom: solid 10px #858585;
    transition: all 350ms;
}

.search-bar{
    display: flex;
    /* right: 0; */
    top : 10px;
    margin: 0px 20px;
    flex-shrink: 1;
    min-width: 0;
    transition: all 350ms;
}
.navbar-btn{
    background-color: transparent;
    outline: none;
    height: 45px;
    width: 45px; 
    z-index: 3;
    padding: 0;
    transition: all 350ms;
}



.header-bar:hover{
    border-bottom: solid 10px #eab2bb;
    filter: drop-shadow(0 0 10px #eab2bb);
}



.search-bar:hover{
    filter:drop-shadow(0 0 10px #eab2bb);
}

.group-search-bar{
    display: flex;
    /* right: 250px; */
    top: 10px;
    margin: 0 20px;
    transition: all 350ms;
}

.group-search-bar:hover{
    filter:drop-shadow(0 0 10px #eab2bb);
}


.navbar-btn:hover{
    filter: drop-shadow(0 0 10px #545454);
    transform: scale(1.1);
}

.logo-bar{
    position: absolute;
    top: 10px;
    left: 90px;
    outline: none;
    border: none;
    background-color: transparent;
    height: 60px;
    width: 150px; 
    z-index: 100;
    padding: 0;
    cursor: pointer;
    filter: drop-shadow(0 0 15px white);
    transition: all  330ms ;
}

.logo-bar:hover{
    filter: drop-shadow(0 0 10px #eab2bb);
    transform: scale(1.1) ;
}

.logo-bar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.header-wrapper {
    position:relative;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
}

.results {
    all : inherit;
    background-color: #dfd9d9;
    width: 200px;
    height: 600px;
    overflow-y: scroll;
    align-content: start;
    transition: all 300ms;
}
.result:hover{
    box-shadow: 0 8px 16px #858585;
}

.result-search{
    border: #cac9c9 solid 1px;
    margin-bottom: 5px;
    transition: all 300ms;
}

.result-search:hover{
    box-shadow: 8px 8px 16px #eab2bb;
}