
.core-container{
    display: flex;
    top: 20px;
    gap : 10px;
    flex-direction: row;
    align-items: stretch;
    margin: 1%; 
}

.left-menu{
    flex: 0 0 350px;
}

.content-container {
    text-align: start;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    flex: 1;
    left: 400px;
    min-height: calc(100vh - 200px);
    border: solid 7px #858585;
    border-radius: 5%;
    background-color: white;
    font-family: Helvetica, sans-serif;
    color: black;
    justify-content: center;
    white-space: pre;
}
.weekly-graph{
    height: 400px;
    /* border: red solid; */
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    flex: 1;
    display: flex;
    align-items: stretch;

}

.streaks{
    height: 280px;
    width: 300px;
    border: red solid;
    margin-right: 20px;
    /* flex: 1; */
}

.module-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.todo-summary{
    /* height: 280px; */
    width: 300px;
    border: red solid;
    margin-left: 20px;
     min-height: calc(100vh - 300px);
     margin-bottom: 20px;
}

.topxp-summary{
    flex: 1;
    border: red solid;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}