.agenda-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.calendar-container {
    border: 2px solid #eab2bb;
    border-radius: 10px;
    padding: 20px;
}

.calendar-container h3 {
    font-size: 25px;
    font-weight: 250;
    margin: 0 0 15px 0;
    color: #333;
}

.react-calendar {
    width: 100%;
    border: inherit;
    border-radius: inherit;
    font-family: inherit;
    padding: 20px;
    background-color: #e8e8e8;
}

.react-calendar__navigation {
    margin-bottom: 1em;
    height: 44px;
    text-align: center;
    height: 60px;
}

.react-calendar__navigation button {
    min-width: 44px;
    background: none;
    font-size: 20px;
    font-weight: 300;
    color: #333;
    border-radius: 8px;
    transition: all 300ms;
    padding: 5px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #fff5f7;
    color: #eab2bb;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
        color: #858585;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.react-calendar__tile {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 8px;
    position: relative;
    transition: all 0.3s;
    background: none;
    
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #fff5f7;
    color: #eab2bb;
    font-size: 25px;
}

.react-calendar__tile--now {
    background: #fff5f7;
        color: #858585;
    font-weight: bold;
}

.react-calendar__tile--active {
    background: #eab2bb !important;
    color: white !important;
    font-weight: bold;
    scale: 1.1;
        color: #858585;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #eab2bb !important;
    scale: 1.1;
        color: #858585;
}

.react-calendar__tile.has-event {
    background-color: rgb(250, 150, 182);
    color: white;
    font-weight: 700;
    font-size: 30px;
}
.react-calendar__tile.has-event:hover {
    .event-dot{
        scale: 1.5;
        bottom: 10px;
    }
}
    
.event-dot {
    position: absolute;
    bottom: 8px;
    color: red;
    margin: 5px;
    font-size: 40px;
    line-height: 0;
    height: 0;
    transition: all 300ms;
}
