.log-title{
width: 100%;
  text-align: center;
  font-weight: 800;
  background: linear-gradient(to right, #eab2bb, #545454);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-size: 30px;
}